
.dialog {
	display: none; /* not visible by default */
	font-family: Verdana, sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #fff;
	background: #fff;
	border: 1px solid #fff;  /* change allowed; Border to separate multipe dialog boxes */
	margin: 0;
	position: absolute;
    min-width: 700px!important;
    min-height: 400px!important;
    z-index: 2000000000000!important;
}
.dialog .titlebar {
	height: 32px; /* same as .dialog>button height */
	line-height: 32px; /* same as .dialog>button height */
	vertical-align: middle;
	font-size: 1.2em;
	padding: 0 8px 0 8px; /* change NOT allowed */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: move;
	background: #39c;
    min-width: 700px!important;
}
.dialog .content {
	position: absolute;
	top: 30px; /* change allowed */
	left: 0px; /* change NOT allowed */
	overflow: hidden;
	font-size: 1em;
    min-width: 700px!important;
}
.dialog .buttonpane:before {
	width: 100%;
	height: 0;
	border-bottom: 1px solid; /* change allowed */
	content: '';
	position: absolute;
	top: -16px; /* change allowed */
}
.dialog .buttonpane {
	width: 100%;
	position: absolute;
	bottom: 16px; /* change allowed */
	right: 16px; /* change NOT allowed */
	white-space: nowrap; /* keep buttons on one line */
}
.dialog .buttonset {
	float: right;
}
.dialog button {
	-webkit-transition: 0.25s;
	transition: 0.25s;
	color: #fff;
}
.dialog button::-moz-focus-inner {
	border: 0;
}
/* .dialog button.hover, */ /* Let's use standard hover */
.dialog button:hover,
.dialog button.active
{
	cursor: pointer;
}
.dialog>button {
    position: absolute;
    top: 4px;
    right: 4px;
    padding: 0;
    border: 0;
    font-size: 1.4em;
    background: bottom;
}
/* .dialog>button.hover, */
.dialog .buttonset button {
	height: 32px; /* change allowed */
	width: 64px; /* change allowed */
	font-size: 1.1em;
	padding: 0; /* irrelevant */
	border: 2px solid #fff; /* change allowed */
	border-radius: 4px; /* change allowed */
	margin-left: 16px; /* change NOT allowed */
	background: #39c
}
.dialog .buttonset button:first-child {
	margin-left: 0;
}
/* .dialog .buttonset button.hover, */
.dialog .buttonset button:hover,
.dialog .buttonset button.focus
{
	box-shadow: inset -32px 0 0 0 #17a, inset 32px 0 0 0 #17a;
}
.dialog .buttonset button.active {
	background: #1a7;
	border-color: #ddd;
}
