    /*--------------------------------------
start : all import css
--------------------------------------*/

@import url(vendors/font-awesome/css/font-awesome.min.css);

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

/*--------------------------------------
end : all import css
--------------------------------------*/


/*--------------------------------------
start : common tag style
--------------------------------------*/

*{
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 10px 0;
    font-family: 'Open Sans', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    border-radius: 0;
    color: #fff;
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: pointer;
    background: none;
    z-index: 1;
    position: relative;
}

select::-ms-expand {
    display: none;
}

.dc-btn,
.dc-btn:hover,
.dc-btn:focus {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: #D20200 !important;
    color: #ffffff !important;
    border: 1px solid #D20200 !important;
}

*:fullscreen
*:-ms-fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
   overflow: auto !important;
}
/* Start margin style */

.m-0 {
    margin: 0;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.ml-0 {
    margin-left: 0;
}

.mr-0 {
    margin-right: 0;
}

.m-5 {
    margin: 5px;
}

.mt-5 {
    margin-top: 5px;
}

.mb-5 {
    margin-bottom: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.mr-5 {
    margin-right: 5px;
}

.m-10 {
    margin: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.m-15 {
    margin: 15px;
}

.mt-15 {
    margin-top: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}

.ml-15 {
    margin-left: 15px;
}

.mr-15 {
    margin-right: 15px;
}

.m-20 {
    margin: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.m-25 {
    margin: 25px;
}

.mt-25 {
    margin-top: 25px;
}

.mb-25 {
    margin-bottom: 25px;
}

.ml-25 {
    margin-left: 25px;
}

.mr-25 {
    margin-right: 25px;
}

.m-30 {
    margin: 30px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.ml-30 {
    margin-left: 30px;
}

.mr-30 {
    margin-right: 30px;
}

.m-35 {
    margin: 35px;
}

.mt-35 {
    margin-top: 35px;
}

.mb-35 {
    margin-bottom: 35px;
}

.ml-35 {
    margin-left: 35px;
}

.mr-35 {
    margin-right: 35px;
}

.m-40 {
    margin: 40px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

.ml-40 {
    margin-left: 40px;
}

.mr-40 {
    margin-right: 40px;
}

.m-45 {
    margin: 45px;
}

.mt-45 {
    margin-top: 45px;
}

.mb-45 {
    margin-bottom: 45px;
}

.ml-45 {
    margin-left: 45px;
}

.mr-45 {
    margin-right: 45px;
}

.m-50 {
    margin: 50px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

.ml-50 {
    margin-left: 50px;
}

.mr-50 {
    margin-right: 50px;
}

.m-55 {
    margin: 55px;
}

.mt-55 {
    margin-top: 55px;
}

.mb-55 {
    margin-bottom: 55px;
}

.ml-55 {
    margin-left: 55px;
}

.mr-55 {
    margin-right: 55px;
}

.m-60 {
    margin: 60px;
}

.mt-60 {
    margin-top: 60px;
}

.mb-60 {
    margin-bottom: 60px;
}

.ml-60 {
    margin-left: 60px;
}

.mr-60 {
    margin-right: 60px;
}

.m-65 {
    margin: 65px;
}

.mt-65 {
    margin-top: 65px;
}

.mb-65 {
    margin-bottom: 65px;
}

.ml-65 {
    margin-left: 65px;
}

.mr-65 {
    margin-right: 65px;
}

.m-70 {
    margin: 70px;
}

.mt-70 {
    margin-top: 70px;
}

.mb-70 {
    margin-bottom: 70px;
}

.ml-70 {
    margin-left: 70px;
}

.mr-70 {
    margin-right: 70px;
}

.m-75 {
    margin: 75px;
}

.mt-75 {
    margin-top: 75px;
}

.mb-75 {
    margin-bottom: 75px;
}

.ml-75 {
    margin-left: 75px;
}

.mr-75 {
    margin-right: 75px;
}

.m-80 {
    margin: 80px;
}

.mt-80 {
    margin-top: 80px;
}

.mb-80 {
    margin-bottom: 80px;
}

.ml-80 {
    margin-left: 80px;
}

.mr-80 {
    margin-right: 80px;
}

.m-85 {
    margin: 85px;
}

.mt-85 {
    margin-top: 85px;
}

.mb-85 {
    margin-bottom: 85px;
}

.ml-85 {
    margin-left: 85px;
}

.mr-85 {
    margin-right: 85px;
}

.m-90 {
    margin: 90px;
}

.mt-90 {
    margin-top: 90px;
}

.mb-90 {
    margin-bottom: 90px;
}

.ml-90 {
    margin-left: 90px;
}

.mr-90 {
    margin-right: 90px;
}

.m-95 {
    margin: 95px;
}

.mt-95 {
    margin-top: 95px;
}

.mb-95 {
    margin-bottom: 95px;
}

.ml-95 {
    margin-left: 95px;
}

.mr-95 {
    margin-right: 95px;
}

.m-100 {
    margin: 100px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

.ml-100 {
    margin-left: 100px;
}

.mr-100 {
    margin-right: 100px;
}

@media screen and (max-width: 768px) and (min-width: 681px) {

    .m-sm-0 {
        margin: 0;
    }
    .mt-sm-0 {
        margin-top: 0;
    }
    .mb-sm-0 {
        margin-bottom: 0;
    }
    .ml-sm-0 {
        margin-left: 0;
    }
    .mr-sm-0 {
        margin-right: 0;
    }

    .m-sm-5 {
        margin: 5px;
    }
    .mt-sm-5 {
        margin-top: 5px;
    }
    .mb-sm-5 {
        margin-bottom: 5px;
    }
    .ml-sm-5 {
        margin-left: 5px;
    }
    .mr-sm-5 {
        margin-right: 5px;
    }

    .m-sm-10 {
        margin: 10px;
    }
    .mt-sm-10 {
        margin-top: 10px;
    }
    .mb-sm-10 {
        margin-bottom: 10px;
    }
    .ml-sm-10 {
        margin-left: 10px;
    }
    .mr-sm-10 {
        margin-right: 10px;
    }

    .m-sm-15 {
        margin: 15px;
    }
    .mt-sm-15 {
        margin-top: 15px;
    }
    .mb-sm-15 {
        margin-bottom: 15px;
    }
    .ml-sm-15 {
        margin-left: 15px;
    }
    .mr-sm-15 {
        margin-right: 15px;
    }

    .m-sm-20 {
        margin: 20px;
    }
    .mt-sm-20 {
        margin-top: 20px;
    }
    .mb-sm-20 {
        margin-bottom: 20px;
    }
    .ml-sm-20 {
        margin-left: 20px;
    }
    .mr-sm-20 {
        margin-right: 20px;
    }

    .m-sm-25 {
        margin: 25px;
    }
    .mt-sm-25 {
        margin-top: 25px;
    }
    .mb-sm-25 {
        margin-bottom: 25px;
    }
    .ml-sm-25 {
        margin-left: 25px;
    }
    .mr-sm-25 {
        margin-right: 25px;
    }

    .m-sm-30 {
        margin: 30px;
    }
    .mt-sm-30 {
        margin-top: 30px;
    }
    .mb-sm-30 {
        margin-bottom: 30px;
    }
    .ml-sm-30 {
        margin-left: 30px;
    }
    .mr-sm-30 {
        margin-right: 30px;
    }

    .m-sm-35 {
        margin: 35px;
    }
    .mt-sm-35 {
        margin-top: 35px;
    }
    .mb-sm-35 {
        margin-bottom: 35px;
    }
    .ml-sm-35 {
        margin-left: 35px;
    }
    .mr-sm-35 {
        margin-right: 35px;
    }

    .m-sm-40 {
        margin: 40px;
    }
    .mt-sm-40 {
        margin-top: 40px;
    }
    .mb-sm-40 {
        margin-bottom: 40px;
    }
    .ml-sm-40 {
        margin-left: 40px;
    }
    .mr-sm-40 {
        margin-right: 40px;
    }

    .m-sm-45 {
        margin: 45px;
    }
    .mt-sm-45 {
        margin-top: 45px;
    }
    .mb-sm-45 {
        margin-bottom: 45px;
    }
    .ml-sm-45 {
        margin-left: 45px;
    }
    .mr-sm-45 {
        margin-right: 45px;
    }

    .m-sm-50 {
        margin: 50px;
    }
    .mt-sm-50 {
        margin-top: 50px;
    }
    .mb-sm-50 {
        margin-bottom: 50px;
    }
    .ml-sm-50 {
        margin-left: 50px;
    }
    .mr-sm-50 {
        margin-right: 50px;
    }

    .m-sm-55 {
        margin: 55px;
    }
    .mt-sm-55 {
        margin-top: 55px;
    }
    .mb-sm-55 {
        margin-bottom: 55px;
    }
    .ml-sm-55 {
        margin-left: 55px;
    }
    .mr-sm-55 {
        margin-right: 55px;
    }

    .m-sm-60 {
        margin: 60px;
    }
    .mt-sm-60 {
        margin-top: 60px;
    }
    .mb-sm-60 {
        margin-bottom: 60px;
    }
    .ml-sm-60 {
        margin-left: 60px;
    }
    .mr-sm-60 {
        margin-right: 60px;
    }

    .m-sm-65 {
        margin: 65px;
    }
    .mt-sm-65 {
        margin-top: 65px;
    }
    .mb-sm-65 {
        margin-bottom: 65px;
    }
    .ml-sm-65 {
        margin-left: 65px;
    }
    .mr-sm-65 {
        margin-right: 65px;
    }

    .m-sm-70 {
        margin: 70px;
    }
    .mt-sm-70 {
        margin-top: 70px;
    }
    .mb-sm-70 {
        margin-bottom: 70px;
    }
    .ml-sm-70 {
        margin-left: 70px;
    }
    .mr-sm-70 {
        margin-right: 70px;
    }

    .m-sm-75 {
        margin: 75px;
    }
    .mt-sm-75 {
        margin-top: 75px;
    }
    .mb-sm-75 {
        margin-bottom: 75px;
    }
    .ml-sm-75 {
        margin-left: 75px;
    }
    .mr-sm-75 {
        margin-right: 75px;
    }

    .m-sm-80 {
        margin: 80px;
    }
    .mt-sm-80 {
        margin-top: 80px;
    }
    .mb-sm-80 {
        margin-bottom: 80px;
    }
    .ml-sm-80 {
        margin-left: 80px;
    }
    .mr-sm-80 {
        margin-right: 80px;
    }

    .m-sm-85 {
        margin: 85px;
    }
    .mt-sm-85 {
        margin-top: 85px;
    }
    .mb-sm-85 {
        margin-bottom: 85px;
    }
    .ml-sm-85 {
        margin-left: 85px;
    }
    .mr-sm-85 {
        margin-right: 85px;
    }

    .m-sm-90 {
        margin: 90px;
    }
    .mt-sm-90 {
        margin-top: 90px;
    }
    .mb-sm-90 {
        margin-bottom: 90px;
    }
    .ml-sm-90 {
        margin-left: 90px;
    }
    .mr-sm-90 {
        margin-right: 90px;
    }

    .m-sm-95 {
        margin: 95px;
    }
    .mt-sm-95 {
        margin-top: 95px;
    }
    .mb-sm-95 {
        margin-bottom: 95px;
    }
    .ml-sm-95 {
        margin-left: 95px;
    }
    .mr-sm-95 {
        margin-right: 95px;
    }

    .m-sm-100 {
        margin: 100px;
    }
    .mt-sm-100 {
        margin-top: 100px;
    }
    .mb-sm-100 {
        margin-bottom: 100px;
    }
    .ml-sm-100 {
        margin-left: 100px;
    }
    .mr-sm-100 {
        margin-right: 100px;
    }
}

@media screen and (max-width: 680px) and (min-width: 320px) {

    .m-xs-0 {
        margin: 0;
    }
    .mt-xs-0 {
        margin-top: 0;
    }
    .mb-xs-0 {
        margin-bottom: 0;
    }
    .ml-xs-0 {
        margin-left: 0;
    }
    .mr-xs-0 {
        margin-right: 0;
    }

    .m-xs-5 {
        margin: 5px;
    }
    .mt-xs-5 {
        margin-top: 5px;
    }
    .mb-xs-5 {
        margin-bottom: 5px;
    }
    .ml-xs-5 {
        margin-left: 5px;
    }
    .mr-xs-5 {
        margin-right: 5px;
    }

    .m-xs-10 {
        margin: 10px;
    }
    .mt-xs-10 {
        margin-top: 10px;
    }
    .mb-xs-10 {
        margin-bottom: 10px;
    }
    .ml-xs-10 {
        margin-left: 10px;
    }
    .mr-xs-10 {
        margin-right: 10px;
    }

    .m-xs-15 {
        margin: 15px;
    }
    .mt-xs-15 {
        margin-top: 15px;
    }
    .mb-xs-15 {
        margin-bottom: 15px;
    }
    .ml-xs-15 {
        margin-left: 15px;
    }
    .mr-xs-15 {
        margin-right: 15px;
    }

    .m-xs-20 {
        margin: 20px;
    }
    .mt-xs-20 {
        margin-top: 20px;
    }
    .mb-xs-20 {
        margin-bottom: 20px;
    }
    .ml-xs-20 {
        margin-left: 20px;
    }
    .mr-xs-20 {
        margin-right: 20px;
    }

    .m-xs-25 {
        margin: 25px;
    }
    .mt-xs-25 {
        margin-top: 25px;
    }
    .mb-xs-25 {
        margin-bottom: 25px;
    }
    .ml-xs-25 {
        margin-left: 25px;
    }
    .mr-xs-25 {
        margin-right: 25px;
    }

    .m-xs-30 {
        margin: 30px;
    }
    .mt-xs-30 {
        margin-top: 30px;
    }
    .mb-xs-30 {
        margin-bottom: 30px;
    }
    .ml-xs-30 {
        margin-left: 30px;
    }
    .mr-xs-30 {
        margin-right: 30px;
    }

    .m-xs-35 {
        margin: 35px;
    }
    .mt-xs-35 {
        margin-top: 35px;
    }
    .mb-xs-35 {
        margin-bottom: 35px;
    }
    .ml-xs-35 {
        margin-left: 35px;
    }
    .mr-xs-35 {
        margin-right: 35px;
    }

    .m-xs-40 {
        margin: 40px;
    }
    .mt-xs-40 {
        margin-top: 40px;
    }
    .mb-xs-40 {
        margin-bottom: 40px;
    }
    .ml-xs-40 {
        margin-left: 40px;
    }
    .mr-xs-40 {
        margin-right: 40px;
    }

    .m-xs-45 {
        margin: 45px;
    }
    .mt-xs-45 {
        margin-top: 45px;
    }
    .mb-xs-45 {
        margin-bottom: 45px;
    }
    .ml-xs-45 {
        margin-left: 45px;
    }
    .mr-xs-45 {
        margin-right: 45px;
    }

    .m-xs-50 {
        margin: 50px;
    }
    .mt-xs-50 {
        margin-top: 50px;
    }
    .mb-xs-50 {
        margin-bottom: 50px;
    }
    .ml-xs-50 {
        margin-left: 50px;
    }
    .mr-xs-50 {
        margin-right: 50px;
    }

    .m-xs-55 {
        margin: 55px;
    }
    .mt-xs-55 {
        margin-top: 55px;
    }
    .mb-xs-55 {
        margin-bottom: 55px;
    }
    .ml-xs-55 {
        margin-left: 55px;
    }
    .mr-xs-55 {
        margin-right: 55px;
    }

    .m-xs-60 {
        margin: 60px;
    }
    .mt-xs-60 {
        margin-top: 60px;
    }
    .mb-xs-60 {
        margin-bottom: 60px;
    }
    .ml-xs-60 {
        margin-left: 60px;
    }
    .mr-xs-60 {
        margin-right: 60px;
    }

    .m-xs-65 {
        margin: 65px;
    }
    .mt-xs-65 {
        margin-top: 65px;
    }
    .mb-xs-65 {
        margin-bottom: 65px;
    }
    .ml-xs-65 {
        margin-left: 65px;
    }
    .mr-xs-65 {
        margin-right: 65px;
    }

    .m-xs-70 {
        margin: 70px;
    }
    .mt-xs-70 {
        margin-top: 70px;
    }
    .mb-xs-70 {
        margin-bottom: 70px;
    }
    .ml-xs-70 {
        margin-left: 70px;
    }
    .mr-xs-70 {
        margin-right: 70px;
    }

    .m-xs-75 {
        margin: 75px;
    }
    .mt-xs-75 {
        margin-top: 75px;
    }
    .mb-xs-75 {
        margin-bottom: 75px;
    }
    .ml-xs-75 {
        margin-left: 75px;
    }
    .mr-xs-75 {
        margin-right: 75px;
    }

    .m-xs-80 {
        margin: 80px;
    }
    .mt-xs-80 {
        margin-top: 80px;
    }
    .mb-xs-80 {
        margin-bottom: 80px;
    }
    .ml-xs-80 {
        margin-left: 80px;
    }
    .mr-xs-80 {
        margin-right: 80px;
    }

    .m-xs-85 {
        margin: 85px;
    }
    .mt-xs-85 {
        margin-top: 85px;
    }
    .mb-xs-85 {
        margin-bottom: 85px;
    }
    .ml-xs-85 {
        margin-left: 85px;
    }
    .mr-xs-85 {
        margin-right: 85px;
    }

    .m-xs-90 {
        margin: 90px;
    }
    .mt-xs-90 {
        margin-top: 90px;
    }
    .mb-xs-90 {
        margin-bottom: 90px;
    }
    .ml-xs-90 {
        margin-left: 90px;
    }
    .mr-xs-90 {
        margin-right: 90px;
    }

    .m-xs-95 {
        margin: 95px;
    }
    .mt-xs-95 {
        margin-top: 95px;
    }
    .mb-xs-95 {
        margin-bottom: 95px;
    }
    .ml-xs-95 {
        margin-left: 95px;
    }
    .mr-xs-95 {
        margin-right: 95px;
    }

    .m-xs-100 {
        margin: 100px;
    }
    .mt-xs-100 {
        margin-top: 100px;
    }
    .mb-xs-100 {
        margin-bottom: 100px;
    }
    .ml-xs-100 {
        margin-left: 100px;
    }
    .mr-xs-100 {
        margin-right: 100px;
    }
}


/* Start padding style */

.p-0 {
    padding: 0;
}

.pt-0 {
    padding-top: 0;
}

.pb-0 {
    padding-bottom: 0;
}

.pl-0 {
    padding-left: 0;
}

.pr-0 {
    padding-right: 0;
}

.p-5 {
    padding: 5px;
}

.pt-5 {
    padding-top: 5px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pl-5 {
    padding-left: 5px;
}

.pr-5 {
    padding-right: 5px;
}

.p-10 {
    padding: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pl-10 {
    padding-left: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.p-15 {
    padding: 15px;
}

.pt-15 {
    padding-top: 15px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pl-15 {
    padding-left: 15px;
}

.pr-15 {
    padding-right: 15px;
}

.p-20 {
    padding: 20px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pl-20 {
    padding-left: 20px;
}

.pr-20 {
    padding-right: 20px;
}

.p-25 {
    padding: 25px;
}

.pt-25 {
    padding-top: 25px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pl-25 {
    padding-left: 25px;
}

.pr-25 {
    padding-right: 25px;
}

.p-30 {
    padding: 30px;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pl-30 {
    padding-left: 30px;
}

.pr-30 {
    padding-right: 30px;
}

.p-35 {
    padding: 35px;
}

.pt-35 {
    padding-top: 35px;
}

.pb-35 {
    padding-bottom: 35px;
}

.pl-35 {
    padding-left: 35px;
}

.pr-35 {
    padding-right: 35px;
}

.p-40 {
    padding: 40px;
}

.pt-40 {
    padding-top: 40px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pl-40 {
    padding-left: 40px;
}

.pr-40 {
    padding-right: 40px;
}

.p-45 {
    padding: 45px;
}

.pt-45 {
    padding-top: 45px;
}

.pb-45 {
    padding-bottom: 45px;
}

.pl-45 {
    padding-left: 45px;
}

.pr-45 {
    padding-right: 45px;
}

.p-50 {
    padding: 50px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pl-50 {
    padding-left: 50px;
}

.pr-50 {
    padding-right: 50px;
}

.p-55 {
    padding: 55px;
}

.pt-55 {
    padding-top: 55px;
}

.pb-55 {
    padding-bottom: 55px;
}

.pl-55 {
    padding-left: 55px;
}

.pr-55 {
    padding-right: 55px;
}

.p-60 {
    padding: 60px;
}

.pt-60 {
    padding-top: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pl-60 {
    padding-left: 60px;
}

.pr-60 {
    padding-right: 60px;
}

.p-65 {
    padding: 65px;
}

.pt-65 {
    padding-top: 65px;
}

.pb-65 {
    padding-bottom: 65px;
}

.pl-65 {
    padding-left: 65px;
}

.pr-65 {
    padding-right: 65px;
}

.p-70 {
    padding: 70px;
}

.pt-70 {
    padding-top: 70px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pl-70 {
    padding-left: 70px;
}

.pr-70 {
    padding-right: 70px;
}

.p-75 {
    padding: 75px;
}

.pt-75 {
    padding-top: 75px;
}

.pb-75 {
    padding-bottom: 75px;
}

.pl-75 {
    padding-left: 75px;
}

.pr-75 {
    padding-right: 75px;
}

.p-80 {
    padding: 80px;
}

.pt-80 {
    padding-top: 80px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pl-80 {
    padding-left: 80px;
}

.pr-80 {
    padding-right: 80px;
}

.p-85 {
    padding: 85px;
}

.pt-85 {
    padding-top: 85px;
}

.pb-85 {
    padding-bottom: 85px;
}

.pl-85 {
    padding-left: 85px;
}

.pr-85 {
    padding-right: 85px;
}

.p-90 {
    padding: 90px;
}

.pt-90 {
    padding-top: 90px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pl-90 {
    padding-left: 90px;
}

.pr-90 {
    padding-right: 90px;
}

.p-95 {
    padding: 95px;
}

.pt-95 {
    padding-top: 95px;
}

.pb-95 {
    padding-bottom: 95px;
}

.pl-95 {
    padding-left: 95px;
}

.pr-95 {
    padding-right: 95px;
}

.p-100 {
    padding: 100px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pl-100 {
    padding-left: 100px;
}

.pr-100 {
    padding-right: 100px;
}

@media screen and (max-width: 768px) and (min-width: 681px) {

    .p-sm-0 {
        padding: 0;
    }
    .pt-sm-0 {
        padding-top: 0;
    }
    .pb-sm-0 {
        padding-bottom: 0;
    }
    .pl-sm-0 {
        padding-left: 0;
    }
    .pr-sm-0 {
        padding-right: 0;
    }

    .p-sm-5 {
        padding: 5px;
    }
    .pt-sm-5 {
        padding-top: 5px;
    }
    .pb-sm-5 {
        padding-bottom: 5px;
    }
    .pl-sm-5 {
        padding-left: 5px;
    }
    .pr-sm-5 {
        padding-right: 5px;
    }

    .p-sm-10 {
        padding: 10px;
    }
    .pt-sm-10 {
        padding-top: 10px;
    }
    .pb-sm-10 {
        padding-bottom: 10px;
    }
    .pl-sm-10 {
        padding-left: 10px;
    }
    .pr-sm-10 {
        padding-right: 10px;
    }

    .p-sm-15 {
        padding: 15px;
    }
    .pt-sm-15 {
        padding-top: 15px;
    }
    .pb-sm-15 {
        padding-bottom: 15px;
    }
    .pl-sm-15 {
        padding-left: 15px;
    }
    .pr-sm-15 {
        padding-right: 15px;
    }

    .p-sm-20 {
        padding: 20px;
    }
    .pt-sm-20 {
        padding-top: 20px;
    }
    .pb-sm-20 {
        padding-bottom: 20px;
    }
    .pl-sm-20 {
        padding-left: 20px;
    }
    .pr-sm-20 {
        padding-right: 20px;
    }

    .p-sm-25 {
        padding: 25px;
    }
    .pt-sm-25 {
        padding-top: 25px;
    }
    .pb-sm-25 {
        padding-bottom: 25px;
    }
    .pl-sm-25 {
        padding-left: 25px;
    }
    .pr-sm-25 {
        padding-right: 25px;
    }

    .p-sm-30 {
        padding: 30px;
    }
    .pt-sm-30 {
        padding-top: 30px;
    }
    .pb-sm-30 {
        padding-bottom: 30px;
    }
    .pl-sm-30 {
        padding-left: 30px;
    }
    .pr-sm-30 {
        padding-right: 30px;
    }

    .p-sm-35 {
        padding: 35px;
    }
    .pt-sm-35 {
        padding-top: 35px;
    }
    .pb-sm-35 {
        padding-bottom: 35px;
    }
    .pl-sm-35 {
        padding-left: 35px;
    }
    .pr-sm-35 {
        padding-right: 35px;
    }

    .p-sm-40 {
        padding: 40px;
    }
    .pt-sm-40 {
        padding-top: 40px;
    }
    .pb-sm-40 {
        padding-bottom: 40px;
    }
    .pl-sm-40 {
        padding-left: 40px;
    }
    .pr-sm-40 {
        padding-right: 40px;
    }

    .p-sm-45 {
        padding: 45px;
    }
    .pt-sm-45 {
        padding-top: 45px;
    }
    .pb-sm-45 {
        padding-bottom: 45px;
    }
    .pl-sm-45 {
        padding-left: 45px;
    }
    .pr-sm-45 {
        padding-right: 45px;
    }

    .p-sm-50 {
        padding: 50px;
    }
    .pt-sm-50 {
        padding-top: 50px;
    }
    .pb-sm-50 {
        padding-bottom: 50px;
    }
    .pl-sm-50 {
        padding-left: 50px;
    }
    .pr-sm-50 {
        padding-right: 50px;
    }

    .p-sm-55 {
        padding: 55px;
    }
    .pt-sm-55 {
        padding-top: 55px;
    }
    .pb-sm-55 {
        padding-bottom: 55px;
    }
    .pl-sm-55 {
        padding-left: 55px;
    }
    .pr-sm-55 {
        padding-right: 55px;
    }

    .p-sm-60 {
        padding: 60px;
    }
    .pt-sm-60 {
        padding-top: 60px;
    }
    .pb-sm-60 {
        padding-bottom: 60px;
    }
    .pl-sm-60 {
        padding-left: 60px;
    }
    .pr-sm-60 {
        padding-right: 60px;
    }

    .p-sm-65 {
        padding: 65px;
    }
    .pt-sm-65 {
        padding-top: 65px;
    }
    .pb-sm-65 {
        padding-bottom: 65px;
    }
    .pl-sm-65 {
        padding-left: 65px;
    }
    .pr-sm-65 {
        padding-right: 65px;
    }

    .p-sm-70 {
        padding: 70px;
    }
    .pt-sm-70 {
        padding-top: 70px;
    }
    .pb-sm-70 {
        padding-bottom: 70px;
    }
    .pl-sm-70 {
        padding-left: 70px;
    }
    .pr-sm-70 {
        padding-right: 70px;
    }

    .p-sm-75 {
        padding: 75px;
    }
    .pt-sm-75 {
        padding-top: 75px;
    }
    .pb-sm-75 {
        padding-bottom: 75px;
    }
    .pl-sm-75 {
        padding-left: 75px;
    }
    .pr-sm-75 {
        padding-right: 75px;
    }

    .p-sm-80 {
        padding: 80px;
    }
    .pt-sm-80 {
        padding-top: 80px;
    }
    .pb-sm-80 {
        padding-bottom: 80px;
    }
    .pl-sm-80 {
        padding-left: 80px;
    }
    .pr-sm-80 {
        padding-right: 80px;
    }

    .p-sm-85 {
        padding: 85px;
    }
    .pt-sm-85 {
        padding-top: 85px;
    }
    .pb-sm-85 {
        padding-bottom: 85px;
    }
    .pl-sm-85 {
        padding-left: 85px;
    }
    .pr-sm-85 {
        padding-right: 85px;
    }

    .p-sm-90 {
        padding: 90px;
    }
    .pt-sm-90 {
        padding-top: 90px;
    }
    .pb-sm-90 {
        padding-bottom: 90px;
    }
    .pl-sm-90 {
        padding-left: 90px;
    }
    .pr-sm-90 {
        padding-right: 90px;
    }

    .p-sm-95 {
        padding: 95px;
    }
    .pt-sm-95 {
        padding-top: 95px;
    }
    .pb-sm-95 {
        padding-bottom: 95px;
    }
    .pl-sm-95 {
        padding-left: 95px;
    }
    .pr-sm-95 {
        padding-right: 95px;
    }

    .p-sm-100 {
        padding: 100px;
    }
    .pt-sm-100 {
        padding-top: 100px;
    }
    .pb-sm-100 {
        padding-bottom: 100px;
    }
    .pl-sm-100 {
        padding-left: 100px;
    }
    .pr-sm-100 {
        padding-right: 100px;
    }
}

@media screen and (max-width: 680px) and (min-width: 320px) {

    .p-xs-0 {
        padding: 0;
    }
    .pt-xs-0 {
        padding-top: 0;
    }
    .pb-xs-0 {
        padding-bottom: 0;
    }
    .pl-xs-0 {
        padding-left: 0;
    }
    .pr-xs-0 {
        padding-right: 0;
    }

    .p-xs-5 {
        padding: 5px;
    }
    .pt-xs-5 {
        padding-top: 5px;
    }
    .pb-xs-5 {
        padding-bottom: 5px;
    }
    .pl-xs-5 {
        padding-left: 5px;
    }
    .pr-xs-5 {
        padding-right: 5px;
    }

    .p-xs-10 {
        padding: 10px;
    }
    .pt-xs-10 {
        padding-top: 10px;
    }
    .pb-xs-10 {
        padding-bottom: 10px;
    }
    .pl-xs-10 {
        padding-left: 10px;
    }
    .pr-xs-10 {
        padding-right: 10px;
    }

    .p-xs-15 {
        padding: 15px;
    }
    .pt-xs-15 {
        padding-top: 15px;
    }
    .pb-xs-15 {
        padding-bottom: 15px;
    }
    .pl-xs-15 {
        padding-left: 15px;
    }
    .pr-xs-15 {
        padding-right: 15px;
    }

    .p-xs-20 {
        padding: 20px;
    }
    .pt-xs-20 {
        padding-top: 20px;
    }
    .pb-xs-20 {
        padding-bottom: 20px;
    }
    .pl-xs-20 {
        padding-left: 20px;
    }
    .pr-xs-20 {
        padding-right: 20px;
    }

    .p-xs-25 {
        padding: 25px;
    }
    .pt-xs-25 {
        padding-top: 25px;
    }
    .pb-xs-25 {
        padding-bottom: 25px;
    }
    .pl-xs-25 {
        padding-left: 25px;
    }
    .pr-xs-25 {
        padding-right: 25px;
    }

    .p-xs-30 {
        padding: 30px;
    }
    .pt-xs-30 {
        padding-top: 30px;
    }
    .pb-xs-30 {
        padding-bottom: 30px;
    }
    .pl-xs-30 {
        padding-left: 30px;
    }
    .pr-xs-30 {
        padding-right: 30px;
    }

    .p-xs-35 {
        padding: 35px;
    }
    .pt-xs-35 {
        padding-top: 35px;
    }
    .pb-xs-35 {
        padding-bottom: 35px;
    }
    .pl-xs-35 {
        padding-left: 35px;
    }
    .pr-xs-35 {
        padding-right: 35px;
    }

    .p-xs-40 {
        padding: 40px;
    }
    .pt-xs-40 {
        padding-top: 40px;
    }
    .pb-xs-40 {
        padding-bottom: 40px;
    }
    .pl-xs-40 {
        padding-left: 40px;
    }
    .pr-xs-40 {
        padding-right: 40px;
    }

    .p-xs-45 {
        padding: 45px;
    }
    .pt-xs-45 {
        padding-top: 45px;
    }
    .pb-xs-45 {
        padding-bottom: 45px;
    }
    .pl-xs-45 {
        padding-left: 45px;
    }
    .pr-xs-45 {
        padding-right: 45px;
    }

    .p-xs-50 {
        padding: 50px;
    }
    .pt-xs-50 {
        padding-top: 50px;
    }
    .pb-xs-50 {
        padding-bottom: 50px;
    }
    .pl-xs-50 {
        padding-left: 50px;
    }
    .pr-xs-50 {
        padding-right: 50px;
    }

    .p-xs-55 {
        padding: 55px;
    }
    .pt-xs-55 {
        padding-top: 55px;
    }
    .pb-xs-55 {
        padding-bottom: 55px;
    }
    .pl-xs-55 {
        padding-left: 55px;
    }
    .pr-xs-55 {
        padding-right: 55px;
    }

    .p-xs-60 {
        padding: 60px;
    }
    .pt-xs-60 {
        padding-top: 60px;
    }
    .pb-xs-60 {
        padding-bottom: 60px;
    }
    .pl-xs-60 {
        padding-left: 60px;
    }
    .pr-xs-60 {
        padding-right: 60px;
    }

    .p-xs-65 {
        padding: 65px;
    }
    .pt-xs-65 {
        padding-top: 65px;
    }
    .pb-xs-65 {
        padding-bottom: 65px;
    }
    .pl-xs-65 {
        padding-left: 65px;
    }
    .pr-xs-65 {
        padding-right: 65px;
    }

    .p-xs-70 {
        padding: 70px;
    }
    .pt-xs-70 {
        padding-top: 70px;
    }
    .pb-xs-70 {
        padding-bottom: 70px;
    }
    .pl-xs-70 {
        padding-left: 70px;
    }
    .pr-xs-70 {
        padding-right: 70px;
    }

    .p-xs-75 {
        padding: 75px;
    }
    .pt-xs-75 {
        padding-top: 75px;
    }
    .pb-xs-75 {
        padding-bottom: 75px;
    }
    .pl-xs-75 {
        padding-left: 75px;
    }
    .pr-xs-75 {
        padding-right: 75px;
    }

    .p-xs-80 {
        padding: 80px;
    }
    .pt-xs-80 {
        padding-top: 80px;
    }
    .pb-xs-80 {
        padding-bottom: 80px;
    }
    .pl-xs-80 {
        padding-left: 80px;
    }
    .pr-xs-80 {
        padding-right: 80px;
    }

    .p-xs-85 {
        padding: 85px;
    }
    .pt-xs-85 {
        padding-top: 85px;
    }
    .pb-xs-85 {
        padding-bottom: 85px;
    }
    .pl-xs-85 {
        padding-left: 85px;
    }
    .pr-xs-85 {
        padding-right: 85px;
    }

    .p-xs-90 {
        padding: 90px;
    }
    .pt-xs-90 {
        padding-top: 90px;
    }
    .pb-xs-90 {
        padding-bottom: 90px;
    }
    .pl-xs-90 {
        padding-left: 90px;
    }
    .pr-xs-90 {
        padding-right: 90px;
    }

    .p-xs-95 {
        padding: 95px;
    }
    .pt-xs-95 {
        padding-top: 95px;
    }
    .pb-xs-95 {
        padding-bottom: 95px;
    }
    .pl-xs-95 {
        padding-left: 95px;
    }
    .pr-xs-95 {
        padding-right: 95px;
    }

    .p-xs-100 {
        padding: 100px;
    }
    .pt-xs-100 {
        padding-top: 100px;
    }
    .pb-xs-100 {
        padding-bottom: 100px;
    }
    .pl-xs-100 {
        padding-left: 100px;
    }
    .pr-xs-100 {
        padding-right: 100px;
    }
}


/*--------------------------------------
end : common tag style
--------------------------------------*/


/*========================== Abmin panel ==========================*/

header.main-header {
    position: static;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #dce5e0;
}
.main-sidebar .sidebar {
    position: absolute;
    width: 100%;
    height: calc(100vh - -7px);
    padding: 0;
}
@media(min-width:1920px){
    .container {
        width: 1515px;
    }
}

.sidebar-mini.sidebar-collapse{
    padding-left: 0;
}

.sidebar-mini {
    background:url(../user/images/bg.png);
    background-repeat: repeat;
    padding-left: 300px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

@media(max-width:992px){
    .sidebar-mini{
        padding-left: 0;
    }
 }

.main-sidebar {
    background: #0f7079;
    z-index: inherit;
}
.sidebar-mini.sidebar-collapse .main-sidebar{
    background: #001d23;
}


.main-header a,
.main-sidebar a,
.user-panel,
.footer a,
.footer {
    color: #646079;
}


.main-sidebar {
    position: fixed;
}

.sidebar-menu>li>a {
    padding: 15px 5px 15px 15px;
    font-size: 12px;
    margin-right: 50px;
    line-height: 32px;
    color: #fff;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 15px;
    transition: color .4s ease-in-out 0s;
    position: relative;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.sidebar-collapse .sidebar-menu>li>a {
    font-size: 18px;

}

.sidebar-mini.sidebar-collapse .main-header .logo {
    padding: 0;
}

.mnu-active {
    position: relative;

}
.menu-open{
    position: relative;
}

.treeview-menu {
    padding-left: 0;
}

#boxscroll {
    max-height: initial;
}

.content-wrapper,
.content {
    min-height: initial !important;
}

.sales-stats {
    color: #fff;
    -webkit-box-shadow: 0 0 10px 2px #E3E3E3;
    box-shadow: 0 0 10px 2px #E3E3E3;
    font-size: 15px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    padding: 30px;
}



/*----------------- end icons -----------------*/

#success_message {
    display: none;
}



/*----------------- Start editor -----------------*/

.newPost {
    /*margin: 50px auto;*/
    padding: 50px 40px;
    width: 100%;
    background: #FFF;
}

.newPost .toolbar {
    background: #2E3641;
}

.newPost .toolbar button {
    float: left;
    width: 45px;
    height: 45px;
    background: #2E3641;
    border: none;
    border-right: 1px solid #434f5f;
    color: #C1CFD9;
    outline: none;
}

.newPost .toolbar button:hover {
    background: #394250;
    color: #b1c3cf;
}

.newPost .toolbar .customSelect {
    float: right;
    position: relative;
}

.newPost .toolbar .customSelect select {
    appearance: none;
    border-radius: 0;
    border: none;
    background: #2E3641;
    height: 45px;
    padding-left: 10px;
    padding-right: 25px;
    color: #C1CFD9;
    border-left: 1px solid #434f5f;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

.newPost .toolbar .customSelect select:hover {
    background: #394250;
    color: #b1c3cf;
}

.newPost .toolbar .customSelect:after {
    content: "\f0dc";
    font-family: FontAwesome;
    color: #C1CFD9;
    position: absolute;
    right: 10px;
    top: 15px;
}

.newPost .toolbar:after {
    content: '';
    display: block;
    clear: both;
}

.newPost .editor {
    min-height: 300px;
    width: 100%;
    resize: none;
    border: 1px solid #C1CFD9;
    box-shadow: inset 0px 0px 3px #C1CFD9;
    outline: none;
    padding: 15px;
    margin-bottom: 20px;
    position: relative;
}

.newPost .editor .saved {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    background: #C1CFD9;
    font-weight: bold;
    border-top-left-radius: 15px;
}

.newPost .buttons {
    float: right;
}

.newPost .buttons button {
    float: left;
    width: 120px;
    height: 45px;
    border: none;
    color: #FFF;
    text-transform: uppercase;
    outline: none;
    margin-right: 20px;
    font-weight: bold;
    background: #C1CFD9;
    text-decoration: none;
}

.newPost .buttons button:last-of-type {
    margin-right: 0px;
    background: #F97E76;
}

.newPost .buttons button:last-of-type:hover {
    background: #fa958e;
}

.newPost .buttons button:active {
    box-shadow: inset 0px 4px rgba(0, 0, 0, 0.05);
}

.newPost .buttons button:hover {
    background: #d1dbe3;
}

.newPost .buttons:after {
    content: '';
    display: block;
    clear: both;
}

.newPost:after {
    content: '';
    display: block;
    clear: both;
}


/* Editor 2 */

#editor {
    resize: vertical;
    overflow: auto;
    line-height: 1.5;
    background-color: #ccc;
    background-image: none;
    border: 0;
    border-bottom: 1px solid #3b8dbd;
    min-height: 150px;
    box-shadow: none;
    padding: 8px 16px;
    margin: 0 auto;
    font-size: 14px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

#editor:focus {
    background-color: #f0f0f0;
    border-color: #38af5b;
    box-shadow: none;
    outline: 0 none;
}

.editControls a {
    color: #53bdff;
    text-decoration: none;
    outline: 0;
}

.editControls a:hover {
    color: #06a0ff;
    text-decoration: none;
}

.editControls p {
    margin: 10px 0;
}

.editControls .btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: none;
    border-bottom: .15em solid black;
}

    .editControls .btn-default {
        border-color: #d9d9d9;
        background-image: linear-gradient(#ffffff, #f2f2f2);
    }
    .editControls .btn-default:hover {
        background: linear-gradient(#f2f2f2, #e6e6e6);
    }
    /* Start data table */
    table.dataTable th,
    table.dataTable td {
        white-space: nowrap;
    }
    .table-data table {
        width: initial !important;
    }


    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-bottom: 5px;
        background: #0f7079;
    }

    @media(max-width:460px){
        header.main-header{
            border-bottom: none;
        }
        .main-header .navbar-custom-menu {
            float: left;
            text-align: center;
        }
        .s-title {
            margin-top: 33px;
        }
    }


    .image-design img{
        width: 35px;
        height: 33px;
      }




    /*
    Ratul
    */

    .dropify-wrapper .dropify-preview .dropify-render img {
        top: 0 !important;
        position: absolute !important;
        object-fit: cover !important;
        left: 0 !important;
        height: 100% !important;
        bottom: 0 !important;
        width: 100% !important;
        transform: translate(0);
    }

    .user-panel>.image>img {
        object-fit: cover !important;
    }
