/*
 * Core: General Layout Style
 * -------------------------
 */


/* Layout */

.wrapper {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper:before,
.wrapper:after {
    content: " ";
    display: table;
}

.wrapper:after {
    clear: both;
}

.wrapper:before,
.wrapper:after {
    content: " ";
    display: table;
}

.wrapper:after {
    clear: both;
}

.layout-boxed .wrapper {
    max-width: 1250px;
    margin: 0 auto;
    min-height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    position: relative;
}

.layout-boxed {
    background: url('../img/boxed-bg.jpg') repeat fixed;
}


/*
 * Content Wrapper - contains the main content
 */

.content-wrapper,
.main-footer {
    -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    z-index: 820;
}

@media (max-width: 992px) {
    .sidebar-open .content-wrapper,
    .sidebar-open .main-footer {
        transform: translate(0px, 0);
        -webkit-transform: translate(0px, 0);
        -moz-transform: translate(0px, 0);
        -ms-transform: translate(0px, 0);
        -o-transform: translate(0px, 0);
}
}

.content-wrapper {
    min-height: 100%;
    background-color: #ecf0f5;
    z-index: 800;
}

.main-footer {
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
}


/* Fixed layout */

.fixed .main-header,
.fixed .main-sidebar,
.fixed .left-side {
    position: fixed;
}

.fixed .main-header {
    top: 0;
    right: 0;
    left: 0;
}

.fixed .content-wrapper,
.fixed .right-side {
    padding-top: 50px;
}

@media (max-width: 767px) {

    .fixed .content-wrapper,
    .fixed .right-side {
        padding-top: 100px;
    }
}

.fixed.layout-boxed .wrapper {
    max-width: 100%;
}

.fixed .wrapper {
    overflow: hidden;
}

.hold-transition .content-wrapper,
.hold-transition .right-side,
.hold-transition .main-footer,
.hold-transition .main-sidebar,
.hold-transition .left-side,
.hold-transition .main-header .navbar,
.hold-transition .main-header .logo,
.hold-transition .menu-open .fa-angle-left {
    /* Fix for IE */
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}


/* Content */

.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}


/* H1 - H6 font */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Roboto', sans-serif;
}


/* General Links */

a {
    color: #337ab7;
}

a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
    color: #23527c;
}


/* Page Header */

.page-header {
    margin: 10px 0 20px 0;
    font-size: 22px;
}

.page-header>small {
    color: #666;
    display: block;
    margin-top: 5px;
}
.container {
    width: 1500px;
    max-width: 100%!important;
}

/*
 * Component: Main Header
 * ----------------------
 */

.main-header {
    position: relative;
    max-height: 100px;
    z-index: 1030;
}

.main-header .navbar {
    -webkit-transition: margin-left 0.3s ease-in-out;
    -o-transition: margin-left 0.3s ease-in-out;
    transition: margin-left 0.3s ease-in-out;
    margin-bottom: 0;
    border: none;
    min-height: 47px;
    border-radius: 0;
    padding: 15px 50px;
    border-bottom: 1px solid #E5E5E7;
}
.left-heder{
    display: flex;
    align-items: center;
    vertical-align: middle;
    max-width: 300px;
    float: left;
}
.header-search{
    position: relative;
}
.header-search form input {
    background-color: transparent;
    color: #333;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    position: relative;
    border-radius: 40px;
    padding-left: 65px;
    margin-top: 3px;
    font-size: 16px;
}
.header-search .submit button {
    position: absolute;
    left: 8px;
    top: -7px;
    background: transparent;
    border: none;
    width: 70px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #000;
    cursor: pointer;
    font-size: 20px;
}
.header-search .submit button:focus {
    border: none;
    outline: none;
}
.layout-top-nav .main-header .navbar {
    margin-left: 0;
}

.main-header #navbar-search-input.form-control {
    background: rgba(255, 255, 255, 0.2);
    border-color: transparent;
}

.main-header #navbar-search-input.form-control:focus,
.main-header #navbar-search-input.form-control:active {
    border-color: rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.9);
}

.main-header #navbar-search-input.form-control::-moz-placeholder {
    color: #ccc;
    opacity: 1;
}

.main-header #navbar-search-input.form-control:-ms-input-placeholder {
    color: #ccc;
}

.main-header #navbar-search-input.form-control::-webkit-input-placeholder {
    color: #ccc;
}

.main-header .navbar-custom-menu,
.main-header .navbar-right {
    float: right;
}

@media (max-width: 991px) {

    .main-header .navbar-custom-menu a,
    .main-header .navbar-right a {
        color: inherit;
        background: transparent;
    }
}

@media (max-width: 767px) {
    .main-header .navbar-right {
        float: none;
    }

    .navbar-collapse .main-header .navbar-right {
        margin: 7.5px -15px;
    }

    .main-header .navbar-right>li {
        color: inherit;
        border: 0;
    }
}

.main-header .sidebar-toggle {
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 15px 15px;
    font-family: fontAwesome;
    font-size: 20px;
}

.main-header .sidebar-toggle:before {
    content: "\f0c9";
}


.main-header .sidebar-toggle:focus,
.main-header .sidebar-toggle:active {
    background: transparent;
}

.main-header .sidebar-toggle .icon-bar {
    display: none;
}

.main-header .navbar .nav>li.user>a>.fa,
.main-header .navbar .nav>li.user>a>.glyphicon,
.main-header .navbar .nav>li.user>a>.ion {
    margin-right: 5px;
}

.main-header .navbar .nav>li>a>.label {
    position: absolute;
    top: 9px;
    right: 4px;
    text-align: center;
    font-size: 10px;
    line-height: 1;
    background: #0f707a;
    border-radius: 50%;
}

.main-header .logo {
    -webkit-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    display: block;
    float: left;
    font-size: 20px;
    line-height: 50px;
    width: 305px;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    font-weight: 300;
    overflow: hidden;
    background: #0f7079;
    font-size: 22px;
    font-weight: 600;
    color: #551a8b;
}

.main-header .logo .logo-lg {
    display: block;
}

.main-header .logo .logo-mini {
    display: none;
}

.main-header .navbar-brand {
    color: #fff;
}

.content-header {
    position: relative;
    padding: 15px 15px 0 15px;
}

.content-header>h1 {
    margin: 0;
    font-size: 24px;
}

.content-header>h1>small {
    font-size: 15px;
    display: inline-block;
    padding-left: 4px;
    font-weight: 300;
}

.content-header>.breadcrumb {
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 2px;
}

.content-header>.breadcrumb>li>a {
    color: #444;
    text-decoration: none;
    display: inline-block;
}

.content-header>.breadcrumb>li>a>.fa,
.content-header>.breadcrumb>li>a>.glyphicon,
.content-header>.breadcrumb>li>a>.ion {
    margin-right: 5px;
}

.content-header>.breadcrumb>li+li:before {
    content: '>\00a0';
}

@media (max-width: 991px) {
    .content-header>.breadcrumb {
        position: relative;
        margin-top: 5px;
        top: 0;
        right: 0;
        float: none;
        background: #d2d6de;
        padding-left: 10px;
    }

    .content-header>.breadcrumb li:before {
        color: #97a0b3;
    }
}

.navbar-toggle {
    color: #fff;
    border: 0;
    margin: 0;
    padding: 15px 15px;
}

@media (max-width: 991px) {
    .navbar-custom-menu .navbar-nav>li {
        float: left;
    }

    .navbar-custom-menu .navbar-nav {
        margin: 0;
        float: left;
    }

    .navbar-custom-menu .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 20px;
    }
}

@media (max-width: 767px) {
    .main-header {
        position: relative;
    }

    .main-header .logo,
    .main-header .navbar {
        width: 100%;
        float: none;
    }

    .main-header .navbar {
        margin: 0;
    }

    .main-header .navbar-custom-menu {
        float: right;
    }
}

@media (max-width: 991px) {
    .navbar-collapse.pull-left {
        float: none !important;
    }

    .navbar-collapse.pull-left+.navbar-custom-menu {
        display: block;
        position: absolute;
        top: 0;
        right: 40px;
    }
}


/*
 * Component: Sidebar
 * ------------------
 */

.main-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 300px;
    z-index: 810;
    -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}



@media (max-width: 992px) {
    .main-sidebar {
        -webkit-transform: translate(-230px, 0);
        -ms-transform: translate(-230px, 0);
        -o-transform: translate(-230px, 0);
        transform: translate(-340px, 0);
    }
    .main-header .navbar {
        padding: 15px 0px;
    }
    .navbar-nav>.notifications-menu>.dropdown-menu,
    .navbar-nav>.messages-menu>.dropdown-menu,
    .navbar-nav>.tasks-menu>.dropdown-menu {
        width: 250px!important;
        left: -110px;
    }
}

@media (min-width: 992px) {
    .sidebar-collapse .main-sidebar {
        -webkit-transform: translate(-230px, 0);
        -ms-transform: translate(-230px, 0);
        -o-transform: translate(-230px, 0);
        transform: translate(-230px, 0);
    }
}

@media (max-width: 992px) {
    .sidebar-open .main-sidebar {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.sidebar {
    padding-bottom: 70px;
}
.sidebar-form input:focus {
    border-color: transparent;
}

.user-panel {
    position: relative;
    width: 100%;
    padding: 35px;
    overflow: hidden;
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}

.user-panel:before,
.user-panel:after {
    content: " ";
    display: table;
}

.user-panel:after {
    clear: both;
}

.user-panel:before,
.user-panel:after {
    content: " ";
    display: table;
}

.user-panel:after {
    clear: both;
}
.user-panel>.image {
    text-align: center;
}
.user-panel>.image>img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin: auto;
}


.user-panel>.info>p {
    font-weight: 600;
    margin-bottom: 9px;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
}
.user-panel>.info>h4 {
    color: #fff;
}
.user-panel>.info {
    position: relative;
    text-align: center;
}
.user-panel>.info h3{
    text-align: center;
    position: relative;
    display: inline-block;
}

.user-panel>.info>p {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}
.user-panel>.info>p:before {
    position: absolute;
    right: -26px;
    content: "\f107";
    font-family: FontAwesome;
    top: -1px;
}
.mnu-active a span {
    font-weight: 900;
    font-size: 15px;
}

.user-panel>.info ul {
    position: absolute;
    left: 0;
    top: 55px;
    width: 150px;
    background: #fff;
    padding: 6px 2px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.user-panel>.info:hover ul {
    opacity: 1;
    visibility: visible;
    top: 35px;
}

.user-panel>.info ul li a {
    padding: 5px 10px;
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #001d24;
}
.user-panel>.info ul li a:hover{
    color:#604BFE;
}
.user-panel>.info>a {
    text-decoration: none;
    padding-right: 5px;
    margin-top: 3px;
    font-size: 11px;
}

.user-panel {
    overflow: unset !important;
    z-index: 999;
}

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-menu>li {
    position: relative;
    margin: 0;
    padding: 0 0px;
    width: 100%;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.sidebar-menu>li:hover{
    background: #07444c;
}

.sidebar-menu>li>a {
    padding: 12px 5px 12px 15px;
    display: block;
}

.sidebar-menu>li>a>.fa,
.sidebar-menu>li>a>.glyphicon,
.sidebar-menu>li>a>.ion {
    width: 20px;
    padding-right: 40px;
}

.sidebar-menu>li .label,
.sidebar-menu>li .badge {
    margin-right: 5px;
}

.sidebar-menu>li .badge {
    margin-top: 3px;
}

.sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
}

.sidebar-menu li>a>.fa-angle-left,
.sidebar-menu li>a>.pull-right-container>.fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    -webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}

.sidebar-menu li>a>.fa-angle-left {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -8px;
}

.sidebar-menu .menu-open>a>.fa-angle-left,
.sidebar-menu .menu-open>a>.pull-right-container>.fa-angle-left {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.sidebar-menu .active>.treeview-menu {
    display: block;
}


/*
 * Component: Sidebar Mini
 */

@media (min-width: 768px) {

    .sidebar-mini.sidebar-collapse .content-wrapper,
    .sidebar-mini.sidebar-collapse .right-side,
    .sidebar-mini.sidebar-collapse .main-footer {
        z-index: 840;
    }

    .sidebar-mini.sidebar-collapse .main-sidebar {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        width: 85px !important;
        z-index: 850;
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu>li {
        position: relative;
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu>li>a {
        margin-right: 0;
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span {
        border-top-right-radius: 4px;
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu>li:not(.treeview)>a>span {
        border-bottom-right-radius: 4px;
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu>li>.treeview-menu {
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom-right-radius: 4px;
    }

    .sidebar-mini.sidebar-collapse .main-sidebar .user-panel>.info,
    .sidebar-mini.sidebar-collapse .sidebar-form,
    .sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span,
    .sidebar-mini.sidebar-collapse .sidebar-menu>li>.treeview-menu,
    .sidebar-mini.sidebar-collapse .sidebar-menu>li>a>.pull-right,
    .sidebar-mini.sidebar-collapse .sidebar-menu li.header {
        display: none !important;
        -webkit-transform: translateZ(0);
    }

    .sidebar-mini.sidebar-collapse .main-header .logo {
        width: 50px;
    }

    .sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini {
        display: block;
        margin-left: -15px;
        margin-right: -15px;
        font-size: 18px;
    }

    .sidebar-mini.sidebar-collapse .main-header .logo>.logo-lg {
        display: none;
    }

    .sidebar-mini.sidebar-collapse .main-header .navbar {
        margin-left: 85px;
    }
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right),
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
    display: block !important;
    position: absolute;
    width: 180px;
    left: 50px;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span {
    top: 0;
    margin-left: -3px;
    padding: 12px 5px 12px 20px;
    background-color: inherit;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>.pull-right-container {
    position: relative !important;
    float: right;
    width: auto !important;
    left: 180px !important;
    top: -22px !important;
    z-index: 900;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>.pull-right-container>.label:not(:first-of-type) {
    display: none;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
    top: 44px;
    margin-left: 0;
}

.sidebar-expanded-on-hover .main-footer,
.sidebar-expanded-on-hover .content-wrapper {
    margin-left: 50px;
}

.sidebar-expanded-on-hover .main-sidebar {
    box-shadow: 3px 0 8px rgba(0, 0, 0, 0.125);
}

.sidebar-menu,
.main-sidebar .user-panel,
.sidebar-menu>li.header {
    overflow: hidden;
}
.sidebar-menu {
    overflow: hidden;
    overflow-x: auto;
    overflow-y: scroll;
}

.sidebar-menu:hover {
    overflow: visible;
}

.sidebar-form,
.sidebar-menu>li.header {
    overflow: hidden;
    text-overflow: clip;
}

.sidebar-menu li>a {
    position: relative;
}

.sidebar-menu li>a>.pull-right-container {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -7px;
}


/*
 * Component: Control sidebar. By default, this is the right sidebar.
 */

.control-sidebar-bg {
    position: fixed;
    z-index: 1000;
    bottom: 0;
}

.control-sidebar-bg,
.control-sidebar {
    top: 0;
    right: -230px;
    width: 230px;
    -webkit-transition: right 0.3s ease-in-out;
    -o-transition: right 0.3s ease-in-out;
    transition: right 0.3s ease-in-out;
}

.control-sidebar {
    position: absolute;
    padding-top: 50px;
    z-index: 1010;
}

@media (max-width: 768px) {
    .control-sidebar {
        padding-top: 100px;
    }
}

.control-sidebar>.tab-content {
    padding: 10px 15px;
}

.control-sidebar.control-sidebar-open,
.control-sidebar.control-sidebar-open+.control-sidebar-bg {
    right: 0;
}

.control-sidebar-open .control-sidebar-bg,
.control-sidebar-open .control-sidebar {
    right: 0;
}

@media (min-width: 768px) {

    .control-sidebar-open .content-wrapper,
    .control-sidebar-open .right-side,
    .control-sidebar-open .main-footer {
        margin-right: 230px;
    }
}

.fixed .control-sidebar {
    position: fixed;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 50px;
}

.nav-tabs.control-sidebar-tabs>li:first-of-type>a,
.nav-tabs.control-sidebar-tabs>li:first-of-type>a:hover,
.nav-tabs.control-sidebar-tabs>li:first-of-type>a:focus {
    border-left-width: 0;
}

.nav-tabs.control-sidebar-tabs>li>a {
    border-radius: 0;
}

.nav-tabs.control-sidebar-tabs>li>a,
.nav-tabs.control-sidebar-tabs>li>a:hover {
    border-top: none;
    border-right: none;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.nav-tabs.control-sidebar-tabs>li>a .icon {
    font-size: 16px;
}

.nav-tabs.control-sidebar-tabs>li.active>a,
.nav-tabs.control-sidebar-tabs>li.active>a:hover,
.nav-tabs.control-sidebar-tabs>li.active>a:focus,
.nav-tabs.control-sidebar-tabs>li.active>a:active {
    border-top: none;
    border-right: none;
    border-bottom: none;
}

@media (max-width: 768px) {
    .nav-tabs.control-sidebar-tabs {
        display: table;
    }

    .nav-tabs.control-sidebar-tabs>li {
        display: table-cell;
    }
}

.control-sidebar-heading {
    font-weight: 400;
    font-size: 16px;
    padding: 10px 0;
    margin-bottom: 10px;
}

.control-sidebar-subheading {
    display: block;
    font-weight: 400;
    font-size: 14px;
}

.control-sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0 -15px;
}

.control-sidebar-menu>li>a {
    display: block;
    padding: 10px 15px;
}

.control-sidebar-menu>li>a:before,
.control-sidebar-menu>li>a:after {
    content: " ";
    display: table;
}

.control-sidebar-menu>li>a:after {
    clear: both;
}

.control-sidebar-menu>li>a:before,
.control-sidebar-menu>li>a:after {
    content: " ";
    display: table;
}

.control-sidebar-menu>li>a:after {
    clear: both;
}

.control-sidebar-menu>li>a>.control-sidebar-subheading {
    margin-top: 0;
}

.control-sidebar-menu .menu-icon {
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
}

.control-sidebar-menu .menu-info {
    margin-left: 45px;
    margin-top: 3px;
}

.control-sidebar-menu .menu-info>.control-sidebar-subheading {
    margin: 0;
}

.control-sidebar-menu .menu-info>p {
    margin: 0;
    font-size: 11px;
}

.control-sidebar-menu .progress {
    margin: 0;
}

.control-sidebar-dark {
    color: #b8c7ce;
}

.control-sidebar-dark,
.control-sidebar-dark+.control-sidebar-bg {
    background: #222d32;
}

.control-sidebar-dark .nav-tabs.control-sidebar-tabs {
    border-bottom: #1c2529;
}

.control-sidebar-dark .nav-tabs.control-sidebar-tabs>li>a {
    background: #181f23;
    color: #b8c7ce;
}

.control-sidebar-dark .nav-tabs.control-sidebar-tabs>li>a,
.control-sidebar-dark .nav-tabs.control-sidebar-tabs>li>a:hover,
.control-sidebar-dark .nav-tabs.control-sidebar-tabs>li>a:focus {
    border-left-color: #141a1d;
    border-bottom-color: #141a1d;
}

.control-sidebar-dark .nav-tabs.control-sidebar-tabs>li>a:hover,
.control-sidebar-dark .nav-tabs.control-sidebar-tabs>li>a:focus,
.control-sidebar-dark .nav-tabs.control-sidebar-tabs>li>a:active {
    background: #1c2529;
}

.control-sidebar-dark .nav-tabs.control-sidebar-tabs>li>a:hover {
    color: #fff;
}

.control-sidebar-dark .nav-tabs.control-sidebar-tabs>li.active>a,
.control-sidebar-dark .nav-tabs.control-sidebar-tabs>li.active>a:hover,
.control-sidebar-dark .nav-tabs.control-sidebar-tabs>li.active>a:focus,
.control-sidebar-dark .nav-tabs.control-sidebar-tabs>li.active>a:active {
    background: #222d32;
    color: #fff;
}

.control-sidebar-dark .control-sidebar-heading,
.control-sidebar-dark .control-sidebar-subheading {
    color: #fff;
}

.control-sidebar-dark .control-sidebar-menu>li>a:hover {
    background: #1e282c;
}

.control-sidebar-dark .control-sidebar-menu>li>a .menu-info>p {
    color: #b8c7ce;
}

.control-sidebar-light {
    color: #5e5e5e;
}

.control-sidebar-light,
.control-sidebar-light+.control-sidebar-bg {
    background: #f9fafc;
    border-left: 1px solid #d2d6de;
}

.control-sidebar-light .nav-tabs.control-sidebar-tabs {
    border-bottom: #d2d6de;
}

.control-sidebar-light .nav-tabs.control-sidebar-tabs>li>a {
    background: #e8ecf4;
    color: #444444;
}

.control-sidebar-light .nav-tabs.control-sidebar-tabs>li>a,
.control-sidebar-light .nav-tabs.control-sidebar-tabs>li>a:hover,
.control-sidebar-light .nav-tabs.control-sidebar-tabs>li>a:focus {
    border-left-color: #d2d6de;
    border-bottom-color: #d2d6de;
}

.control-sidebar-light .nav-tabs.control-sidebar-tabs>li>a:hover,
.control-sidebar-light .nav-tabs.control-sidebar-tabs>li>a:focus,
.control-sidebar-light .nav-tabs.control-sidebar-tabs>li>a:active {
    background: #eff1f7;
}

.control-sidebar-light .nav-tabs.control-sidebar-tabs>li.active>a,
.control-sidebar-light .nav-tabs.control-sidebar-tabs>li.active>a:hover,
.control-sidebar-light .nav-tabs.control-sidebar-tabs>li.active>a:focus,
.control-sidebar-light .nav-tabs.control-sidebar-tabs>li.active>a:active {
    background: #f9fafc;
    color: #111;
}

.control-sidebar-light .control-sidebar-heading,
.control-sidebar-light .control-sidebar-subheading {
    color: #111;
}

.control-sidebar-light .control-sidebar-menu {
    margin-left: -14px;
}

.control-sidebar-light .control-sidebar-menu>li>a:hover {
    background: #f4f4f5;
}

.control-sidebar-light .control-sidebar-menu>li>a .menu-info>p {
    color: #5e5e5e;
}


/*
 * Component: Dropdown menus
 * -------------------------
 */


/*Dropdowns in general*/

.dropdown-menu {
    box-shadow: none;
    border-color: #eee;
    min-width: 215px;
}

.dropdown-menu>li>a {
    color: #777;
}

.dropdown-menu>li>a {
    white-space: normal;
}
.dropdown-menu>li>a>.glyphicon,
.dropdown-menu>li>a>.fa,
.dropdown-menu>li>a>.ion {
    margin-right: 10px;
}

.dropdown-menu>li>a:hover {
    background-color: #e1e3e9;
    color: #333;
}

.dropdown-menu>.divider {
    background-color: #eee;
}

.navbar-nav>.notifications-menu>.dropdown-menu,
.navbar-nav>.messages-menu>.dropdown-menu,
.navbar-nav>.tasks-menu>.dropdown-menu {
    width: 300px;
    padding: 0 0 0 0;
    margin: 0;
    top: 100%;
    position: absolute;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li,
.navbar-nav>.messages-menu>.dropdown-menu>li,
.navbar-nav>.tasks-menu>.dropdown-menu>li {
    position: relative;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li.header,
.navbar-nav>.messages-menu>.dropdown-menu>li.header,
.navbar-nav>.tasks-menu>.dropdown-menu>li.header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #ffffff;
    padding: 7px 10px;
    border-bottom: 1px solid #f4f4f4;
    color: #444444;
    font-size: 14px;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li.footer>a,
.navbar-nav>.messages-menu>.dropdown-menu>li.footer>a,
.navbar-nav>.tasks-menu>.dropdown-menu>li.footer>a {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 12px;
    background-color: #fff;
    padding: 7px 10px;
    text-align: center;
}

@media (max-width: 991px) {

    .navbar-nav>.notifications-menu>.dropdown-menu>li.footer>a,
    .navbar-nav>.messages-menu>.dropdown-menu>li.footer>a,
    .navbar-nav>.tasks-menu>.dropdown-menu>li.footer>a {
        background: #fff !important;
        color: #444 !important;
    }
}

.navbar-nav>.notifications-menu>.dropdown-menu>li.footer>a:hover,
.navbar-nav>.messages-menu>.dropdown-menu>li.footer>a:hover,
.navbar-nav>.tasks-menu>.dropdown-menu>li.footer>a:hover {
    text-decoration: none;
    font-weight: normal;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu,
.navbar-nav>.messages-menu>.dropdown-menu>li .menu,
.navbar-nav>.tasks-menu>.dropdown-menu>li .menu {
    max-height: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a,
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a,
.navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a {
    display: block;
    white-space: nowrap;
    /* Prevent text from breaking */
    border-bottom: 1px solid #f4f4f4;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a:hover,
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a:hover,
.navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a:hover {
    background: #f4f4f4;
    text-decoration: none;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a {
    color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a>.glyphicon,
.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a>.fa,
.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a>.ion {
    width: 20px;
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a {
    margin: 0;
    padding: 10px 10px;
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>div>img {
    margin: auto 10px auto auto;
    width: 40px;
    height: 40px;
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>h4 {
    padding: 0;
    margin: 0 0 0 45px;
    color: #444444;
    font-size: 15px;
    position: relative;
    margin-bottom: 5px;
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>h4>small {
    color: #999999;
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>p {
    margin: 0 0 0 45px;
    font-size: 12px;
    color: #888888;
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a:before,
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a:after {
    content: " ";
    display: table;
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a:after {
    clear: both;
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a:before,
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a:after {
    content: " ";
    display: table;
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a:after {
    clear: both;
}

.navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a {
    padding: 10px;
}

.navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a>h3 {
    font-size: 14px;
    padding: 0;
    margin: 0 0 10px 0;
    color: #666666;
}

.navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a>.progress {
    padding: 0;
    margin: 0;
}

.navbar-nav>.user-menu>.dropdown-menu {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;
    width: 280px;
}

.navbar-nav>.user-menu>.dropdown-menu,
.navbar-nav>.user-menu>.dropdown-menu>.user-body {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: 175px;
    padding: 10px;
    text-align: center;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>img {
    z-index: 5;
    height: 90px;
    width: 90px;
    border: 3px solid;
    border-color: transparent;
    border-color: rgba(255, 255, 255, 0.2);
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
    z-index: 5;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    font-size: 17px;
    margin-top: 10px;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p>small {
    display: block;
    font-size: 12px;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-body {
    padding: 15px;
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #dddddd;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-body:before,
.navbar-nav>.user-menu>.dropdown-menu>.user-body:after {
    content: " ";
    display: table;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-body:after {
    clear: both;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-body:before,
.navbar-nav>.user-menu>.dropdown-menu>.user-body:after {
    content: " ";
    display: table;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-body:after {
    clear: both;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-body a {
    color: #444 !important;
}

@media (max-width: 991px) {
    .navbar-nav>.user-menu>.dropdown-menu>.user-body a {
        background: #fff !important;
        color: #444 !important;
    }
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
    background-color: #f9f9f9;
    padding: 10px;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer:before,
.navbar-nav>.user-menu>.dropdown-menu>.user-footer:after {
    content: " ";
    display: table;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer:after {
    clear: both;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer:before,
.navbar-nav>.user-menu>.dropdown-menu>.user-footer:after {
    content: " ";
    display: table;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer:after {
    clear: both;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default {
    color: #666666;
}

@media (max-width: 991px) {
    .navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default:hover {
        background-color: #f9f9f9;
    }
}











/*
 * Component: Social Widgets
 * -------------------------
 */

.box-widget {
    border: none;
    position: relative;
}

.widget-user .widget-user-header {
    padding: 20px;
    height: 120px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.widget-user .widget-user-username {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 300;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.widget-user .widget-user-desc {
    margin-top: 0;
}

.widget-user .widget-user-image {
    position: absolute;
    top: 65px;
    left: 50%;
    margin-left: -45px;
}

.widget-user .widget-user-image>img {
    width: 90px;
    height: auto;
    border: 3px solid #fff;
}

.widget-user .box-footer {
    padding-top: 30px;
}

.widget-user-2 .widget-user-header {
    padding: 20px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.widget-user-2 .widget-user-username {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 300;
}

.widget-user-2 .widget-user-desc {
    margin-top: 0;
}

.widget-user-2 .widget-user-username,
.widget-user-2 .widget-user-desc {
    margin-left: 75px;
}

.widget-user-2 .widget-user-image>img {
    width: 65px;
    height: auto;
    float: left;
}

.treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px;
}

.treeview-menu .treeview-menu {
    padding-left: 20px;
}

.treeview-menu>li {
    margin: 0;
}

.treeview-menu>li>a {
    padding: 15px 13px 5px 15px;
    display: block;
    font-size: 16px;
    padding-left: 67px;
}

.treeview-menu>li>a>.fa,
.treeview-menu>li>a>.glyphicon,
.treeview-menu>li>a>.ion {
    width: 20px;
}

.treeview-menu>li>a>.pull-right-container>.fa-angle-left,
.treeview-menu>li>a>.pull-right-container>.fa-angle-down,
.treeview-menu>li>a>.fa-angle-left,
.treeview-menu>li>a>.fa-angle-down {
    width: auto;
}



.sidebar-menu li a .icon {
    height: 25px;
    width: 25px;
    display: block;
    position: relative;
    margin-right: 15px;
}

.sidebar-menu li a .icon img {
    position: absolute;
    top: 0;
    width: 22px;
}

.sidebar-menu li a .icon img.hover {
    opacity: 0;
}

.sidebar-menu li a:hover .icon img.hover {
    opacity: 1;
}

.sidebar-menu li a .icon img {
    transition: opacity .4s ease-in-out 0s;
}

.sidebar-menu .menu-open a .icon img.hover {
    opacity: 1;
}

.sidebar-menu .mnu-active a .icon img.hover {
    opacity: 1;
}

.sidebar-collapse .mnu-active:before {
    display: none;
}

.user-panel>.image>img,
a.logo-normal,
a.logo.colupsLogo {
    transition: all .3s;
}

a.logo-normal {
    transition: all .9s;
}

a.logo {
    position: absolute;
}

a.logo.colupsLogo {
    position: absolute;
    display: none;
}

.sidebar-collapse a.logo-normal {
    position: absolute;
    display: none;
}

.sidebar-collapse a.logo.colupsLogo {
    display: block;
}

.sidebar-mini.sidebar-collapse .main-header .logo {
    padding: 10px !important;
}

.sidebar-collapse .user-panel>.image>img {
    width: 30px;
    height: 30px;
    border-radius: 0;
    margin: auto;
}

.navbar-custom-menu i img {
    width: 20px;
}

.messages-menu ul li.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    height: 60px;
    background: #fafafa;
    padding: 0 20px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 0;
}

.messages-menu ul li.header span {
    font-weight: 400;
    color: #604BFE;
    cursor: pointer;
    font-size: 13px;
}

.messages-menu ul li.footer a {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    border-top: 1px solid #f1f1f1;
    color: #604BFE;
    border-radius: 0px;
}

.messages-menu ul li a .en-icon {
    top: 25px;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    background: #604BFE;
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    line-height: 29px;
    position: relative;
}

.content-wrapper {
    -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    z-index: 820;
}



.lang-menu {
    overflow: hidden;
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
}

.menu-select {
    position: relative;
}

.menu-select:before {
    position: absolute;
    right: 3px;
    content: "\f107";
    font-family: FontAwesome;
    top: 4px;
}

.lang-menu span {
    display: inline-block;
}

.lang-menu span.flag-img {
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
}

.lang-menu span.flag-img img {
    width: 20px;
    vertical-align: middle;
    margin-right: 10px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.lang-menu span.flag-img p {
    font-style: normal;
}

.lang-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    padding: 10px;
    background: #fff;
}

.lang-menu .flag-button {
    width: 100%;
    padding: 0;
}

.lang-menu .flag-button,
.lang-menu li {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    color: #333;
}

.lang-menu .countries-name {
    line-height: 100%;
}

.lang-menu li:last-child {
    border-bottom: none;
}

.lang-menu ul.sh {
    display: none;
}

@media(max-width: 767px){
    .lang-menu ul {
        left: -25px;
    }
}

/*=-----------------------------------------
signal area
------------------------------------------*/


.content-wrapper{
    background-color: unset;
}
.account-area{
    padding: 10px 0;
}

.account-header{
    margin-bottom: 30px;
}
.account-header .nav-tabs li a {
    display: block;
    width: 155px;
    height: 60px;
    background: transparent;
    margin-right: 10px;
    line-height: 60px;
    text-align: center;
    color: #9b9ea8;
    font-weight: 500;
    font-size: 16px;
    padding: 0;
    border:none;
}
.nav-tabs{
    border-bottom: none;
}
.account-header .nav-tabs a.active {
    border:none;
    border-bottom: 2px solid #f50057;
    color: #676b79;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: none;
    border-bottom: 3px solid #0f7079;
    color: #676b79;
    background: transparent;
}

.cart-wrap {
    background: #fff;
    padding: 30px;
    box-shadow: 0px 2px 10.66px 2.34px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.cart-wrap h2 {
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 800;
    color: #2A2A2D;
    border-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.cart-wrap tbody tr:nth-child(odd) {
    background:#FAFAFE;
}


.cart-wrap td.btn-cart a {
    background: #0f7079;
    display: inline-block;
    padding: 4px 20px;
    color: #fff;
    border-radius: 11px;
}
.cart-wrap td.btn-cart-2 a{
    background: #ff3737;
}
.cart-wrap td.act span {
    background: #02ae14;
    height: 25px;
    font-size: 12px;
    padding: 0px 20px;
    display: inline-flex;
    align-items: center;
    border-radius: 9px;
    justify-content: center;
    color: #fff;
    min-width: 87px;
}
.cart-wrap td.pen span{
    background:#DFA100;
    height: 25px;
    font-size: 12px;
    padding: 0px 20px;
    display: inline-flex;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    color: #fff;
    min-width: 87px;
}

.ac-header{
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 10px;
    color: #2A2A2D;
    font-weight: 600;
}
@media (max-width: 767px){
    .cart-wrap table {
        width: 806px;
    }

    .order-wrap form {
        overflow: scroll;
        overflow-y: hidden;
    }
    .account-header .nav-tabs li a {
        display: block;
        width: 84px;
    }
}

/*===========================================
brokers area
=============================================*/

.country-select {
    background: #fff;
    padding: 15px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 2px 10.66px 2.34px rgba(0, 0, 0, 0.23);
}
.country-select label{
    display: block;
    font-size: 1rem;
    color: #999;
}
.country-select select {
    width: 100%;
    color: #333;
    height: 40px;
    border: navajowhite;
    border-bottom: 1px solid #999;
    font-weight: 600;
    box-shadow: none;
    border-radius: 0;
}
.country-select select:focus{
    outline: none;
    box-shadow: none;
}

.brokers-text {
    background: #fff;
    min-height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 14px 60px rgba(0,0,0,0.06);
    border-radius: 5px;
    transition: all .4s ease-in-out 0s;
    min-height: 295px;
    margin-top: 30px;
    position: relative;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 2px 10.66px 2.34px rgba(0, 0, 0, 0.23);
}
.brokers-wrap {
    padding: 30px;
}
.broker-l img{
    width:120px;
     height: 120px;
     object-fit: cover;
 }

.bro-t {
    display: flex;
    text-align: center;
    margin-top: 15px;
}

.bro-t li{
    margin-right: 15px;
}

.bro-r ul li i {
    height: 40px;
    width: 40px;
    color: #333;
    line-height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 5px;
    border: 1px solid #333;
    text-align: center;
}
.bro-r ul li {
    color: #0f7079;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px;
    font-weight: 600;
}
.bro-r h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
}

.broker-l ul li span{
    display: block;
    text-align: center;
}
.brokers-wrap{
    display: flex;
}
.bro-r{
    margin-left: 20px;
}
.brokers-right>p {
    color: #444444;
    width: 400px;
    max-width: 100%;
    margin-left: auto;
    margin-bottom: 40px;
    text-align: right;
    font-size: 16px;
    line-height: 25px;
}
.brokers-wrap-2{
    display: block;
}
.brokers-btn,.theme-btn {
    padding: 5px 20px;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
    text-transform: uppercase;
    position: absolute;
    bottom: 30px;
    right: 30px;
    background: #00abd5;
    background: -webkit-linear-gradient(left, #07444c, #0f7079);
    background: -moz-linear-gradient(left, #07444c, #0f7079);
    background: -o-linear-gradient(left, #07444c, #0f7079);
    background: -ms-linear-gradient(left, #07444c, #0f7079);
    background: -webkit-gradient(linear, left top, right top, from(#07444c), to(#0f7079));
    background: linear-gradient(left, #07444c, #0f7079);
    /* background-image: linear-gradient(to right, #07444c ,#0f7079); */
    z-index: 1;
}
.brokers-btn:after,
.theme-btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 70px;
    background: -webkit-linear-gradient(left, #0f7079, #07444c);
    background: -moz-linear-gradient(left, #0f7079, #07444c);
    background: -o-linear-gradient(left, #0f7079, #07444c);
    background: -ms-linear-gradient(left, #0f7079, #07444c);
    background: -webkit-gradient(linear, left top, right top, from(#0f7079), to(#07444c));
    background: linear-gradient(left, #0f7079, #07444c);
    -webkit-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
    opacity: 0;
    z-index: -1;
}
.brokers-btn:hover:after,
.theme-btn:hover:after {
    opacity: 1;
}
.brokers-btn:hover,
.theme-btn:hover{
    color: #fff;
}
.brokers-btn:focus,
.theme-btn:focus{
    color: #fff;
}
.brokers-right{
    text-align: right;
}

@media(max-width: 590px){
    .brokers-wrap{
        flex-wrap: wrap;
    }
}

@media(max-width: 1024px){
    .trade-view-widged {
        margin-top: 30px;
    }
}

.scroll-popup {
    position: relative;
    overflow: auto;
    height: calc(100% - 275px);
}

  .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    height: 100px!important;
}
.main-content-wrapper {
    padding: 20px 0;
}

.s-title {
    margin-bottom: 70px;
    color: #001d24;
    font-weight: 700;
}
.dash-item {
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 2px 10.66px 2.34px rgba(0, 0, 0, 0.23);
    margin-bottom: 30px;
}
.dash-item h2{
    font-size: 30px;
    color: #001d24;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0;
}
.dash-item span{
    font-size: 14px;
    font-weight: 400;
    color: #001d24;
}
.trade-view-widged iframe {
    height: 520px!important;
    border-radius: 10px;
    box-shadow: 0px 2px 10.66px 2.34px rgba(0, 0, 0, 0.23);
}

.sidemenu-items ul li a {
    background: transparent!important;
    border-bottom: 1px solid #b5d3d524!important;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    display: inherit;
    padding: 10px;
    margin-left: 30px;
    padding-left: 0;
}
.side-logo span{
    color: #fff;
    font-size: 20px;
}
.side-logo a{
    display: flex;
    align-items: center;
}
.side-logo {
    padding: 26px 45px 62px;
    border-bottom: 1px solid #0d6169;
}
.side-logo .first{
    margin-right: 10px;
}
.sidebar-mini.sidebar-collapse .side-logo {
    padding: 26px 25px 62px;
}
.sidebar-mini.sidebar-collapse .user-panel {
    padding: 24px;
}
.sidebar-mini.sidebar-collapse .metismenu .has-arrow:after {
    display: none;
}

.cart-wrap-b .name strong{
    color: #001d24;
    font-weight: 600;
}
.cart-wrap-b .number strong{
    color: #001d24;
    font-weight: 600;
}
.cart-wrap-b .ptice{
    color: #001d24;
    font-weight: 600;
}
.cart-wrap-b tbody tr:nth-child(odd) {
    background: #fff;
}
.cart-wrap-b {
    padding: 20px 30px;
    min-height: 155px;
}
.cart-wrap-b td.btn-cart a {
    background: transparent;
    color: #19c03f;
    border: 1px solid #19c03f;
    text-transform: uppercase;
    font-weight: 600;
}
.cart-wrap-b td.pen span {
    background: #ffae26;
    text-transform: uppercase;
}
.cart-wrap-b .dt{
    color: #9d9d9c;
    font-weight: 600;
    text-align: right;
}
.cart-wrap-b td.images {
    font-size: 18px;
    font-weight: 700;
    color: #001d24;
}
.cart-wrap-b{
    margin-bottom: 30px;
}
.collopse-menu {
    display: none;
}

@media(max-width:992px){
    .sidebar-mini{
        padding-left: 0!important;
    }
    .main-sidebar {
        position: absolute;
    }
    .collopse-menu {
        position: absolute;
        right: 2px;
        top: 2px;
        width: 30px;
        height: 30px;
        background: #fff;
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        z-index: 999999;
    }
    .collopse-menu {
        display: block;
    }
}

@media(max-width:767px){
    .cart-wrap table {
        width: unset;
        border: none;
    }
    .main-sidebar.current{
        width: 0px;
    }
    .main-sidebar{

    }
    .collopse-menu {
        position: absolute;
        right: 2px;
        top: 2px;
        width: 30px;
        height: 30px;
        background: #fff;
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        z-index: 999999;
    }
    .collopse-menu {
        display: block;
    }
    .navbar-nav .open .dropdown-menu {
        position: absolute;
        background: #fff;
    }
}

@media(max-width:560px){
    .cart-wrap table {
        width: 270px;
        border: none;
    }
    .cart-wrap-b {
        margin-bottom: 30px;
        overflow-y: auto;
        overflow-x: scroll;
    }
    .navbar-custom-menu ul li h3{
        font-size: 23px;
    }
}
@media(max-width:460px){
    .navbar-nav>.notifications-menu>.dropdown-menu,
    .navbar-nav>.messages-menu>.dropdown-menu,
    .navbar-nav>.tasks-menu>.dropdown-menu {
        width: 250px!important;
        left: 8px;
    }
}

.broker-header {
    padding: 5px 20px;
    border-bottom: 1px solid #ebebeb;
    position: relative;
    cursor: pointer;
}
.brokers-area {
    padding: 50px 0;
}
.bro-r span {
    display: block;
    font-weight: 400;
}
.create-account {
    display: none;
}
.broker-in{
    padding: 30px;
    background: #f0f0f0;
    border: 1px solid #ddd;
}
.broker-in p {
    font-size: 15px;
    line-height: 25px;
}
.broker-header i {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 25px;
}
.broker-header h2{
    font-weight: 700;
    font-size: 22px;
    color: #001d24;
}

.footer h4{
    color: #fff;
    font-size: 12px;
}


@media screen and (min-width: 992px) and (max-width: 1300px) {
    .custom-grid{
        width: 50%;
        float: left;
    }
    .main-header .navbar {
        padding: 15px 3px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1500px) {
    .cart-wrap-b {
        padding: 10px 10px;
        min-height: 155px;
    }
    .container {
        width: 1100px;
        max-width: 100%!important;
    }
    .cart-wrap td {
        padding: 5px 0px;
        padding-left: 0px;
    }
    .main-header .navbar {
        padding: 15px 10px;
    }
}

.dropdown-menu {
    position: absolute;
    top: 138%!important;
    left: -160px;
}
.signal_tbl_td{
    font-size: 1.2rem;
    color: #0f7079;
    letter-spacing: -.3px;
}


.sidemenu-items.active .mnu-active a{
    font-weight: 900;
    font-size: 15px;
}

.pakage-wrap {
    text-align: center;
    background: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 2px 10.66px 2.34px rgba(0, 0, 0, 0.23);
    overflow: hidden;
    margin-bottom: 30px;
}
.pakage-img {
    width: 150px;
    margin: auto;
    margin-bottom: 30px;
    height: 150px;
}
.pakage-img img {
    display: inline-block;
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.pakage-wrap .card-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
    padding: 55px 0;
    background: #0f7079;
    color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.pakage-wrap .card-title:before {
    content: "";
    position: absolute;
    left: -2px;
    top: 13px;
    width: 102%;
    height: 92%;
    background: url(../../images/2.png) no-repeat center center / cover;
    z-index: -1;
}
.pakage-wrap p {
    padding:10px;
    padding-bottom: 12px;
    padding-top: 1px;
}
.theme-btn {
    border-radius: 0;
    padding: 15px 0px;
    margin-top: 15px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    width: 100%;
    font-size: 16px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    position: relative;
    right: 0;
    bottom: 0;
}
.theme-btn:after{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.pakage-area .s-title{
    padding-left: 15px;
}
.pakage-wrap h4{
    font-size: 30px;
}

/*.pakage-top{*/
/*    padding-bottom: 80px;*/
/*    position: relative;*/
/*}*/
/*.pakage-top {*/
/*    padding-bottom: 45px;*/
/*    position: relative;*/
/*    z-index: 1;*/
/*}*/
/*.pakage-top:before {*/
/*    position: absolute;*/
/*    left: -5px;*/
/*    bottom: 10px;*/
/*    width: 106%;*/
/*    height: 40px;*/
/*    content: "";*/
/*    background: #f2f7f8;*/
/*    transform: skew(10deg, 16deg);*/
/*    z-index: -1;*/
/*}*/

.profile-text h6 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}
.profile-text span{
    font-size: 13px;
}

.ac-header img {
    margin-top: -5px;
    margin-right: 5px;
    width: 35px;
}
.s-title img{
    margin-top: -5px;
    margin-right: 5px;
    width: 35px;
}

