.signal_result_success{
    background-color: transparent;
    background-image: none;
    border-radius: 50rem !important;
    color: #02ae14;
    font-weight: bold;
    cursor: auto;
}
.signal_result_danger{
    background-color: transparent;
    background-image: none;
    border-radius: 50rem !important;
    color: #ac2925;
    font-weight: bold;
    cursor: auto;
}
.signal_status_success, .signal_status_danger, .signal_status_warning{
    border-radius: 50rem !important;
    font-weight: bold;
}

.notifying{
    animation: animate 1s cubic-bezier(0,1,1,0);
}
@keyframes animate{
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.7);
    }
}
.got_to_buy{
    margin: 0;
}
.noti-list{
    cursor: pointer;
}
.dropify-wrapper .dropify-preview .dropify-render img{
    width: 100%;
}
.btn-primary {
    color: #fff;
    background-color: #0f7079;
    border-color: #2e6da4;
}
.label-primary {
    background-color: #0f7079;
}
tr.dashboard-signal:nth-child(odd) {
    background-color: #f2f2f2;
}
tr.dashboard-signal:nth-child(odd) td:first-child {
    border-radius: 10px 0 0 10px;
}
tr.dashboard-signal:nth-child(odd) td:last-child {
    border-radius: 0 10px 10px 0;
}

